{% extends 'base.html' %}
{% block menu %}
    {% if request.user.is_authenticated %}
        {% if perms.webapp.add_task and user in project.authors.all %}
                <a class="nav-link" href="{% url 'webapp:add_task' pk=project.pk %}">Add Task</a>
        {% endif %}
    {% endif %}
{% endblock %}
{% block main %}
    <h1 class="mb-3">{{ project.name }}</h1>
    <b>Авторы:</b>
    <ul>
        {% for author in project.authors.all %}
            <li>{{ author.username }}</li>
        {% endfor %}
    </ul>
    {% if request.user.is_authenticated %}
        {% if perms.webapp.change_project and user in project.authors.all  %}
                <a class="btn btn-primary mb-3" href="{% url 'webapp:update_user' pk=project.pk %}">Изменить</a>
        {% endif %}
    {% endif %}

    <p><b>Дата начала:</b> {{ project.start_date }}</p>
    <p><b>Дата окончания:</b> {{ project.end_date }}</p>
    <p><b>Описание:</b><br> {{ project.description }}</p><br>
    <div class="project_link mb-4">
        {% if request.user.is_authenticated %}
            {% if perms.webapp.change_project and user in project.authors.all %}
                <a href="{% url 'webapp:project_edit' pk=project.pk %}" class="btn btn-primary">Изменить</a>
            {% endif %}
            {% if perms.webapp.delete_project and user in project.authors.all %}
                <a href="{% url 'webapp:project_delete' pk=project.pk %}" class="btn btn-danger ms-3">Удалить</a>
            {% endif %}
        {% endif %}
    </div>

    <h3 class="mb-4">Список задач для этого проекта:</h3>
    <div class="row row-cols-5 task_list">
        {% for task in tasks %}
            <div class="col">
                <div class="task p-2 my-3">
                    <div>
                        <h5>{{ task.title }}</h5>
                        <span>Status: {{ task.status.name }}</span><br>
                        <span>Type:
                            {% for type in task.types.all %}
                                {{ type.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </span><br>
                        <a href="{% url 'webapp:task_detail' pk=task.pk %}" style="color: saddlebrown">Details..</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <h3>Нет задач.</h3>
        {% endfor %}
    </div>
{% endblock %}