{% extends 'base.html' %}
{% block main %}
    <h3 class="mb-4">Список Задач:</h3>
    <div class="task_list">
        {% for task in tasks %}
            <div class="task mb-3">
                <h5>{{ task.title }}</h5>
                <span>Status: {{ task.status.name }}</span><br>
                <span>Type:
                    {% for type in task.types.all %}
                	    {{ type.name }}{% if forloop.last %}.{% else %},{% endif %}
                    {% endfor %}
                </span><br>
                <a href="{% url 'task-detail' pk=task.pk %}" style="color: saddlebrown">Подробнее</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

