{% extends 'base.html' %}
{% block menu %}
    <a href="{% url 'webapp:project_detail' pk=project.pk %}" class="nav-link">Project</a>
{% endblock %}
{% block main %}
    <h3 class="mb-3">{{ task.title }}</h3>
    <p><b>Статус:</b> {{ task.status.name }}</p>
    <p><b>Тип:</b>
        {% for type in task.types.all %}
            {{ type.name }}{% if forloop.last %}.{% else %},{% endif %}
        {% endfor %}</p>
    <p><b>Полное описание:</b><br> {{ task.description }}</p>
    {% if request.user.is_authenticated %}
        <a class="btn btn-danger" href="{% url 'webapp:task_delete' pk=task.pk %}">Удалить</a>
        <a class="btn btn-primary ms-3" href="{% url 'webapp:task_edit' pk=task.pk project_pk=project.pk%}">Изменить</a>
    {% endif %}
{% endblock %}